/* Roam Custom CSS */

/* Make page width wider */
.roam-block {
max-width: 1200px;
font-size: 1.1em;
}
.rm-block-text {
  max-width: 1200px;
font-size: 1.1em;
}
.roam-center > div {
padding-right: calc((100% - 1200px) / 2);
}

.roam-topbar {
    opacity: 1;
    transition: opacity 200ms;
    z-index: 1;
    background: none;
    /* Making space for the close sidebar button */
    width: calc(100% - 40px);
    padding: 0;
}

/* lighter vertical guides */
.block-border-left {
  border-color: #eee;
}

/* don't shrink block references */

.rm-block-ref {
  font-size: 1em;
  padding: 0;
  margin: 0;
}


/* less space below page heading */
.roam-body .roam-app .roam-main .roam-article .rm-title-display {
  margin-bottom: 10px;
}

/* don't need "SHORTCUTS" heading */
.starred-pages-wrapper .flex-h-box {
  display: none;
}

/* no logo */
#roam-sidebar-logo {
  display: none;
}

/* block refs are not underlined */

.rm-block-ref {
  border-bottom: 1px dotted #888888;
  font-size: 1em;
  padding: 4px;
  color: #697098;
}


/* Make code blocks slightly less ugly */
.CodeMirror {
  background: #fafafa;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 6px;
}
.CodeMirror-gutters, .CodeMirror-gutter-wrapper {
  display: none;
}
.CodeMirror-code .CodeMirror-activeline-background {
  opacity: 0;
}
.CodeMirror-focused .CodeMirror-activeline-background {
  opacity: 1;
}
